@import '../../styles/app';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.starterBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  padding: 24px;
  width: 720px;
  border-radius: 8px;
  h3 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  img {
    margin: 20px auto;
    width: 350px;
    height: 350px;
  }
  @media (max-width: 767.98px) {
    width: 520px;
    img {
      width: 250px;
      height: 250px;
    }
  }
  @media (max-width: 575.98px) {
    width: 340px;
    img {
      width: 150px;
      height: 150px;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  a {
    width: 100%;
    button {
      width: 100%;
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
